* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    background-color: #ddd;
}

nav {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 60px;
}

nav .left-side {
    color: white;
    font-size: 30px;
    padding: 0 80px;
    line-height: 60px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    padding: 5px;
    border-radius: 4px;
    transition: .5s;
}

nav ul li a:hover {
    color: black;
    background-color: white;
}

nav .checkbox {
    display : none;
}

nav label img {
    float: right;
    margin: 15px;
    width: 30px;
    display: none;
}

.content header {
    text-align: center;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #bbb;
    padding: 95px 0px 25px 0px;
}

.container-home img {
    border-radius: 50%;
    border: 5px solid white;
    width: 270px;
}

.container-home h1{
    font-size: 40px;
    margin-top: 10px;
}

.container-home p {
    font-size: 20px;
}

.about-story {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    align-items: center;
    justify-content: center;
}

main .content .split {
    width: 300px;
    height: 2px;
    background: black;
    margin: 10px 0px;
}

.about-story .text {
    display: block;
    justify-content: space-around;
    text-align: justify;
    margin: 20px 0px;
    box-sizing: border-box;
}
.about-story .text p {
    margin: 0 40px;
    font-size: 16px;
}

.about-story .text .left-text {
    width: 50%;
    padding: 0 0 0 30px;
    float: left;
    box-sizing: border-box;
}

.about-story .text .right-text {
    width: 50%;
    padding: 0 30px 0 0;
    float: right;
    box-sizing: border-box;
}

.about-story .quotes {
    clear: both;
    text-align: center;
    margin: 20px;
}

.about-story .quotes span{
    font-size: 30px;
    font-weight: bold;
}

.about-story .quotes p {
    font-style: italic;
}

.about-experiences {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    align-items: center;
}

.about-experiences .exps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-experiences .exp {
    width: 100px;
    margin: 15px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 5px 0px;
}

.about-experiences .exp img {
    width: 100%;
    border-radius: 50%;
    border: 7px solid white;
}

.about-experiences .exp p {
    border-radius: 5px;
    width: 100px;
    color: #455;
    padding: 10px;
    text-align: center;
    background-color: white;
    margin-top: 5px;
    opacity: 0;
    transition: .45s;
}

.about-experiences .exp img:hover ~ p {
    opacity: 100%;
}

.about-experiences:hover {
    opacity: 100%;
}

.container-friends {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    align-items: center;
    background: #aaa;
}

.container-friends .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-friends .photo {
    width: 150px;
    margin: 20px;
    align-items: center;
    background: #dcdcdc;
    border-radius: 10px;
}

.container-friends .photo img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.container-friends .photo p {
    color: black;
    padding: 5px;
    text-align: center;
}

footer .copyright .copy{
    width: 100%;
    font-family: arial;
    text-align: center;
    color: white;
    background-color: black;
    padding: 15px;
    font-size: 14px;
}

@media (max-width: 952px) {
    /* header */
    nav .left-side{
        font-size: 25px;
        padding-left: 0 0px;
    }
    nav ul li {
        margin: 0 2px;
    }
    nav ul li a {
        font-size: 14px;
        padding: 2px;
    }

    /* main */
}

@media (max-width: 700px) {
    /* header */
    nav label img {
        display: block;
        cursor: pointer;
    }
    nav ul {
        position: fixed;
        text-align: center;
        height: 100%;
        width: 100%;
        left: -100%;
        background-color: #444;
        transition: .5s;
    }
    nav ul li {
        display: block;
        border-bottom: 1px solid #666;
    }

    nav #checkbtn:checked ~ ul {
        left: 0;
    }

    /* main */

    main p {
        font-size: 14px;
    }

    .content header {
        font-size: 12px;
    }
    .split {
        width: 200px;
    }

    .container-home img {
        width: 200px;
    }
    .container-home h1{
        font-size: 30px;
    }
    .container-home p {
        font-size: 17px;
    }

    .container-about .text p{
        font-size: 14px;
    }

    .container-about .quotes {
        font-size: 15px;
    }

    .container-about .text .left-text{
        float: none;
        width: 100%;
        padding: 0 20px;
        margin: 10px auto;
    }

    .container-about .text .right-text {
        float: none;
        width: 100%;
        padding: 0 20px;
        margin: 10px auto;
    }

    .container-friends .photo{
        width: 115px;
        margin: 8px;
    }

    footer .copyright .copy {
        font-size: 13px;
        padding: 10px;
    }

}